.emergente{
    margin-top: 5%;
    margin-left: 20%;
    border: solid black 1.px;
    border-radius: 10px;
    background-color: azure;
    padding: 1%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 10%;
  margin-top: 5%;
  width: 80%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.boton{
    position: relative;
    background-color: rgb(233, 190, 15);
    border: none;
    border-radius: 5px;
}




.rojo{
    background-color: red;
    height: 50px;
    width: 75%;
    left: 12%;
    color:white;
}
.verde{
    height: 50px;
    width: 75%;
    left: 12%;
    color:white;
    background-color: green;
}
