


  <div class="container-fluid accordion text-center col-md-12 col-ms-12" id="accordionExample">
    <div class="row">
      <div class="accordion-item transparent col-md-12 col-12">
        <h2 class="accordion-header" id="headingOne">
          <button class="btn btn-dark btn-outline-warning bg-negro col-md-6 col-12 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h5>Horarios</h5>
          </button>
        </h2>
        <div id="collapseOne" class="btn bg-oscuro fluid accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="row col-12">
             <div class="accordion-body bg-oscuro fluid col-md-12 col-ms-8 mt-2 collapsed">
                Los horarios de esta barbería son de lo más variopinto.<br>A saber:<br> de lunes a viernes abre a las 10 de la mañana, si no ha tenido ningún contratiempo que lo retrase.<br> Algunos viernes por la tarde no está.<br> Los fines de semana, por supuesto, está cerrado.<br> Si hay puente, festivo cercano futuro o pasado, igual también está cerrado.<br>
              </div>
              <div class="container-fluid btn bg-oscuro col-md-9"><img class="img-fluid col-md-12" src="../assets/images/peluk.png" alt="Capas del sol"> </div>
            </div>
        </div>

      </div>
      <div class="accordion-item transparent col-12">
        <h2 class="accordion-header" id="headingTwo">
          <button class="btn btn-dark btn-outline-warning bg-negro col-md-6 col-12 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           <h5>Fotografías</h5>
          </button>
        </h2>
        <div  id="collapseTwo" class="container-fluid accordion-collapse btn-dark collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="row col-12 ">

            <app-carrusel></app-carrusel>

          </div>
        </div>

      <div class="accordion-item transparent col-12 col-md-12 ">
        <h2 class="accordion-header" id="headingThree">
          <button class="btn btn-dark btn-outline-warning bg-negro col-md-6 col-12 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5>Productos y ofertas</h5>
          </button>
        </h2>
        <div id="collapseThree" class="btn bg-oscuro collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">

            <div class="row col-12">
            <div class="accordion-body bg-oscuro col-md-12 col-ms-12 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae adipisci fugiat, exercitationem deserunt, debitis laborum earum temporibus nulla quisquam quis saepe rerum laboriosam magnam sit ipsam a, repellendus aspernatur.</div>
            <div class="container-fluid col-12 col-md-6"><img class="img-fluid col-md-6 col-ms-4" src="../assets/images/skullbarber.png" alt="Ojo al barbero"> </div>
            <div class="accordion-body bg-oscuro col-ms-12 col-md-12 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod alias, velit quaerat earum at eligendi sapiente architecto cum perferendis iusto cupiditate, reiciendis culpa facilis consequatur natus sit corporis, iste ad. </div>
          </div>
          </div>
        </div>
        <div class="accordion-item transparent col-12 ">
          <h2 class="accordion-header" id="headingfour">
            <button (click)="goLogin()" class="btn btn-dark btn-outline-warning bg-negro col-md-6 col-12 collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
            <h5>Area de Usuarios</h5>
            </button>
          </h2>
          </div>

      </div>





      </div>
      </div>
