<!doctype html>
<html>
<head id="cabeza">
  <title>La Barbería de mi padre |</title>
  <meta charset="utf-8">
 </head>


<body>

<div class="mes col-md-12 col-sm-12" >
<table id="cap" class="capa col-md-12 col-sm-12">

  <tr>
    <th>
              Lun
    </th>
    <th>
              Mar
    </th>
    <th>
              Mie
    </th>
    <th>
              Jue
    </th>
    <th>
              Vie
    </th>
    <th>
              Sab
    </th>
    <th>
              Dom
    </th>
</tr>
<caption class="meses"> </caption>

</table>
<table id="calendar" class="capa">



<tbody> </tbody>

</table>
<a class="salir col-md-12" routerLink="/admin">Volver al menu principal</a>
<p id="chimo">a</p>
</div>




</body>
</html>