
<div class="mes" >
<table id="cap" class="capa">

  <tr>
    <th>
              Lun
    </th>
    <th>
              Mar
    </th>
    <th>
              Mie
    </th>
    <th>
              Jue
    </th>
    <th>
              Vie
    </th>
    <th>
              Sab
    </th>
    <th>
              Dom
    </th>
</tr>
<caption class="meses"> </caption>

</table>
<table id="calendar" class="capa">



<tbody> </tbody>
</table>
<button type="button" class="boton" (click)="muestra()">MOSTRAR</button>
<a class="salir col-md-12" routerLink="/usuarios">Volver al menu principal</a>

</div>


