<div class="container-fluid  col-md-12 col-12">
  <div id="carouselExampleIndicators" class="carousel dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>

    </div>
    <div class="carousel-inner col-12">
      <div class="carousel-item active">
        <img src="../../../assets/images/45085732_1992623150795123_2929692708379295744_n.jpg" class="container-fluid  d-block col-md-6 " alt="Mercurio">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/92093073_2938442276213201_2616493836205031424_n.jpg" class="container-fluid  d-block col-md-6" alt="Venus">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/89828368_2890565161000913_4098648790485958656_n.jpg" class="container-fluid  d-block col-md-6" alt="Tierra">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/50466322_2101116696612434_794571161668157440_n.jpg" class="container-fluid  d-block col-md-6" alt="Marte">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/51161359_2125976094126494_7067647175542439936_n.jpg" class="container-fluid container-fluid  d-block col-md-5" alt="Jupiter">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/62180187_2312758335448268_495734161915510784_n.jpg" class="container-fluid  d-block col-md-6" alt="Saturno">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/67975365_2421565781234189_7172484565573828608_n.jpg" class="container-fluid  d-block col-md-6" alt="Urano">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/70459237_2503027959754637_7979479774844157952_n.jpg" class="container container-fluid col-md-6 " alt="Neptuno">
      </div>

    </div>


    <button class="carousel-control-prev bg-negro bn w-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-negro" aria-hidden="false"></span>
      <span class="visually-hidden">Patrás</span>
    </button>
    <button class="carousel-control-next bg-negro bn w-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-negro bn" aria-hidden="true"></span>
      <span class="visually-hidden">Palante</span>
    </button>
  </div>
  </div>
